.wrapper {
  .title {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: #000;
    font-weight: 400;
    font-size: 28px;
    margin: 40px auto;
    padding: 0 30px;
    .icon {
      cursor: pointer;
    }
  }
  .sidebar-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px 50px;
    display: flex;
    grid-template-columns: 260px 1fr;
    ul {
      list-style: none;
      li {
        text-decoration: none;
        border-bottom: 1px solid #c2c2c2;
        background: #f1f0f0;
        .nav_link {
          text-decoration: none;
          color: #636468;
          .child {
            padding: 10px;
          }
        }
      }
    }

    .info-wrapper {
      padding: 10px 40px;
      .info {
        .info_title {
          margin-bottom: 15px;
        }
      }
    }
  }
}
