.courseTitle{
  color: #212529;
  font: 14px Helvetica;
  border-bottom: 1.2px solid #9c9d9e;
  margin-bottom: 16px;
}
.title {
  color: #000000;
  font: 22.4px Helvetica;
  padding-bottom: 0.25rem!important;
  margin-bottom: 0.25rem!important;
  font-weight: bold;
}


