.wrapper {
  h2 {
    max-width: 1200px;
    text-align: left;
    margin: 50px auto 70px;
    font-size: 32px;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
  }
}

.new-syllabus {
  max-width: 1200px;
  //   background-color: red;

  margin: auto;
  display: grid;
  grid-template-columns: 1fr 320px;

  .container {
    // background-color: gray;
    display: flex;
    flex-direction: column;
    .syllabus {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 72px;

      .card {
        min-width: 35%;
        border-radius: 12px;
        padding: 20px;
        background-color: #eef1f3;

        .title {
          font-size: 15px;
          color: #262a37;
          font-weight: 600;
          line-height: 22px;
          margin-bottom: 16px;
        }

        p {
          font-size: 13px;
          line-height: 17px;
          margin-bottom: 8px;
          color: #74808c;
          b {
            color: #262a37;
            font-weight: 600;
            margin-left: 10px;
          }
        }

        .more {
          display: flex;
          align-items: center;
          border: none;
          color: #74808c;
          background-color: transparent;
          transition: all 0.2s;
          font-size: 14px;
          cursor: pointer;
          padding: 5px 10px;
          border-radius: 12px;
          float: right;
          &:hover {
            background-color: #fff;
          }
        }
      }
    }

    .useful {
      margin: 60px 0;
      width: 100%;

      h3 {
        margin-bottom: 28px;
        font-size: 32px;
        font-family: "Merriweather", sans-serif;
        font-weight: 400;
      }

      .cards {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .card {
          padding: 30px;
          width: 200px;
          height: 200px;
          cursor: pointer;
          p {
            font-size: 16px;
            font-family: "Merriweather", sans-serif;
            font-weight: 400;
            color: #fff;
          }
        }
      }
    }
  }

  .news {
    h4 {
      margin-bottom: 10px;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow-y: scroll;
      height: 900px;
      .new {
        width: 100%;
        height: auto;
        padding: 10px;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        .paragraph {
          font-size: 16px;
          font-family: "Merriweather", sans-serif;
          font-weight: 600;
          color: #262a37;
          margin-top: 10px;
          cursor: pointer;
          &:hover {
            color: #1d306e;
          }
        }

        .bottom-info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          color: #74808c;
          border-bottom: 1px solid #74808c;
          padding: 10px 0;
          p {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}
