.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;

    .logo {
      width: 178px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .search {
      width: 500px;
      height: 40px;
      background-color: #eef1f3;
      border-radius: 12px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        background-color: transparent;
        border: none;
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 30px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        text-align: center;
      }
      img {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .last {
      display: flex;
      align-items: center;
      gap: 20px;
      @media (max-width: 900px) {
        flex-direction: column;
        gap: 10px;
      }

      .language {
        color: #262a37;
        padding: 13px 25px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
      }

      .login {
        padding: 13px 25px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        background-color: #262a37;
        color: #fff;
        transition: all 0.2s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .links {
    .items {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      .link {
        text-decoration: none;
        font-size: 18px;
        color: #262a37;
        cursor: pointer;
        &:hover {
          color: #1181d9;
        }
      }
    }
  }
}
