.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px 84px;

  @media (max-width: 460px) {
    padding-top: 24px;
    padding-bottom: 0;
  }

  .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 62px;
    color: #000000;
    margin-bottom: 20px;

    @media (max-width: 690px) {
      font-size: 37px;
    }
  }
  :global {
    .slick-next {
      display: none;
    }
    .slick-next {
      display: none;
      right: 0px;
    }
  }

  .img-container {
    gap: 20px;
    height: 220px;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}
